#chat-container {
}

#chat {
  overflow-y: scroll;
    height: 360px;
    width: 100%;
    font-size:12px;
}

#chat li {
  word-wrap: break-word;
}

h1 {
  font-weight: 700;
  text-transform: uppercase;
}

h2 #back-button{
  margin-left: 20px;
}

#add-video-container {
  padding-top: 5px;
}
